@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    /*font-family: 'Helvetica', sans-serif;*/
    /*on définit un beau background*/
  background: rgb(41, 128, 185);
  background: -moz-linear-gradient(-45deg, rgb(47, 84, 109) 0%, rgb(250, 252, 177) 100%);
  background: -webkit-linear-gradient(-45deg, rgb(47, 84, 109) 0%, rgb(250, 252, 177) 100%);
  background: linear-gradient(135deg, rgb(47, 84, 109) 0%, rgb(250, 252, 177) 100%);
  background-attachment: fixed;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



/* on definit le container*/

.container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    min-height: 800px;
    background: #fff;
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}


/*==========================côté gauche====================*/

.container .left_Side {
    position: relative;
    background: rgb(58, 70, 78);
    padding: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 3px rgb(50, 98, 128);
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    /*ligne*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .avatar img {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    /*img{width:100%; height: auto;}*/
}


.profileText .name h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText .name h2:hover {
    color: #948e8e;
}
.profileText .name h2 span {
    font-size: 0.8em;
    font-weight: 300;
}


.getintouch {
        margin-top: 30px;
    font-size: 13px;
    color: #fff;
    font-weight: 800;
}

.faicon {
    
    margin-bottom: 0;
    font-size: 13px;
    line-height: 150%;
    max-width: 550px;
    margin: 20px;
}

.faicon a {
    display: inline-block;
    font-size: 22px;
    color: #ffffff;
    margin: 0 10px;
}

.faicon a:hover {
    color: #161718;
    
    transform: rotateY(360deg);
    transition: transform 0.6s ease-in-out, color 0.4s linear;
}


/*contact info*/

.contactInfo {
    padding-top: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo a {
    color: #fff;
    text-decoration: none;
}

.contactInfo a:hover {
    color: #0d2b38;
    text-decoration: none;
    font-weight: bold; 
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;

}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #fff;
}

.contactInfo ul li .icon :hover {
    transform: rotateY(360deg);
    transition: transform 0.4s ease-in-out, color 0.4s linear;
}

.contactInfo ul li span {
    color: #fff;
    font-weight: 300;
}


/*Contact info éducation*/

.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education h5 {
    color: #fff;
    font-weight: 500;
    font-weight: bold; 
}

.contactInfo.education h4:nth-child(2) {
    color: #fff;
    font-weight: 300;
}

.contactInfo.education h4 {
    color: #fff;
    font-weight: 300;
}




/* percent circle progress */

.circle {
    width: 100px;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
    color: #FFF;
}

.circle canvas {
    vertical-align: top;
    width: 100px !important;
}

.circle strong {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: #fff;
}

.circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}

.circle span {
    display: block;
    color: #fff;
    margin-top: 12px;
}

.contactInfo.language{
    margin-right: 30px;
}

.contactInfo.language {
    display: table; /* Use display: table to create table-like layout */
    width: 100%;
}

.contactInfo.language .box {
    display: table-row; /* Use display: table-row to create rows within the table */
}

.contactInfo.language .box h4 {
    display: table-cell;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;
    padding-right: 30px; /* Add padding to the right of the h4 element */
}

.contactInfo.language .box .content {
    display: table-cell; /* Use display: table-cell to put the content on the right */
    text-align: right; /* Align the content to the right within the cell */
}

/* En progress bar*/
/* .contactInfo.language .box .percent {
    position: relative;
    width: 100%;
    height: 15px;
    background: #333;
}

.contactInfo.language .box .percent .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #139fe0;
    width: 0;
    transition: width 1s ease;
} */

/*==========================côté droit====================*/

.container .right_Side {
    position: relative;
    background: #FFF;
    padding: 40px;
}

.about {
    margin-bottom: 20px;
}

.about:last-child {
    margin-bottom: 0;
}

.header {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.171);
    
}

p {
    color: #333;
}


.xpTable .about .row ul li a{
    color: #0d2b38;
    text-decoration: none;
    font-weight: bold; 

}
.xpTable .about .row ul li a:hover{
    color: #458dac;
    text-decoration: none;
    font-weight: bold; 
}

/* .about .box .year_company {
    min-width: 150px;
}

.about .box .year_company h5 {
    text-transform: uppercase;
    color: #46494d;
    font-weight: 600;
} */

.about .box {
    display: inline-block;
    flex-direction: row;
    margin: 10px ;
}
.about .box .text h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}



ul.timeline {
    list-style-type: none;
    position: relative;
    color: #000;
}

ul.timeline a {
    color: #000;
    text-decoration: none;
}

ul.timeline a:hover {
    color: #03a9f4;
    text-decoration: underline;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 00px 0;
    padding-left: 60px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.qrCode{
    float: right;
    margin-left: 20px;
    
}
.qrCode img{
    
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 5px white solid;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: rotate(10deg);

}
.qrCode img:hover
{
    box-shadow: 0 10px 25px 0px rgba(0, 0, 0, 0.6);
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 15px;
    background: #333;
}

.skills .box .percent .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #139fe0;
    width: 0;
    transition: width 1s ease;
}

em {
    font-style: italic;
 
    color: #b37134;
}

.interest ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.interest ul li .fa {
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
    margin: 10px;
}


/*en fonction de la dimension de la fenêtre*/

@media (max-width: 600px) {
    .container .left_Side {

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}
    .container {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
        background: none;
    }

    .xpTable {
        width: 100%;
    }
  
    .qrCode {
        display: none;
    }

    .interest ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .circle {
        width: 100px;
        height: 100px;
    }

    /* .contactInfo.language {
        display: none;
    } */
}

@media (max-width: 1000px) {
    .about .box {
        flex-direction: column;
    }

    .about .box .year_company {
        margin-bottom: 5px;
    }

    .interest ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills .box {
        grid-template-columns: repeat(1, 1fr);
    }

    .circle {
        width: 100px;
        height: 100px;
    }
}


/* Footer */

.footer {
    display: flex;
    align-self: flex-end;
    justify-content: right;
}

.footer a:hover {
    transform: rotateY(360deg);
    transition: transform 0.4s ease-in-out, color 0.4s linear;
}


/* Copyright */

.Copyright {
    text-transform: uppercase;
    display: flex;
    justify-content: right;
}



@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

/*WnX82*/