* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    /*font-family: 'Helvetica', sans-serif;*/
    /*on définit un beau background*/
    background: rgb(26, 188, 156);
    background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
    background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
    background-attachment: fixed;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* on definit les paramètres pour les liens*/

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #03a9f4;
    text-decoration: underline;
}


/* on definit le containant*/

.content {
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-height: 800px;
    background: #fff;
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}


/*==========================côté gauche====================*/

.content .cote_gauche {
    position: relative;
    background: #003147;
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    /*ligne*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .avatar img {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    /*img{width:100%; height: auto;}*/
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

.profileText h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.faicon {
    color: #999999;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 150%;
    max-width: 550px;
    margin: 20px;
}

.faicon a {
    display: inline-block;
    font-size: 22px;
    color: #2a7da2;
    margin: 0 10px;
}

.faicon a:hover {
    color: #2a7da2;
    transform: rotateY(360deg);
    transition: transform 0.6s ease-in-out, color 0.4s linear;
}


/*contact info*/

.contactInfo {
    padding-top: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contactInfo ul li .icon :hover {
    transform: rotateY(360deg);
    transition: transform 0.4s ease-in-out, color 0.4s linear;
}

.contactInfo ul li span {
    color: #fff;
    font-weight: 300;
}


/*Contact info éducation*/

.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education h5 {
    color: #03a9f4;
    font-weight: 500;
}

.contactInfo.education h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

.contactInfo.education h4 {
    color: #fff;
    font-weight: 300;
}


/*Contact info langues*/

.contactInfo.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.contactInfo.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}


/*==========================côté droit====================*/

.content .cote_droit {
    position: relative;
    background: #FFF;
    padding: 40px;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.header {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
}

.about .box {
    display: inline-block;
    flex-direction: row;
    margin: 30px 0;
}

.about .box .year_company {
    min-width: 150px;
}

.about .box .year_company h5 {
    text-transform: uppercase;
    color: #46494d;
    font-weight: 600;
}

.about .box .text h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #333;
}

.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #139fe0;
}

.interest ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.interest ul li .fa {
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
    margin: 10px;
}


/* Footer */

.footer {
    display: flex;
    align-self: flex-end;
    justify-content: right;
}

.footer a:hover {
    transform: rotateY(360deg);
    transition: transform 0.4s ease-in-out, color 0.4s linear;
}


/* Copyright */

.Copyright {
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 100px;
    text-transform: uppercase;
    display: flex;
    justify-content: left;
}